In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('noshow.csv')
df.head(5)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [13]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

Inspecting info of the data

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

Dropping Columns : PatientId , AppointmentID

In [15]:
df.drop('PatientId',axis=1,inplace=True)

In [16]:
df.drop('AppointmentID',axis=1,inplace=True)

Checking the new data Head() to make sure the columns have been removed

In [17]:
df.head(5)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

Checking for NAN or missing values in the dataset

In [18]:
df.isnull() #The output reveals the data to be void of NaN values

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
110497,False,False,False,False,False,False,False,False,False,False,False,False
110498,False,False,False,False,False,False,False,False,False,False,False,False
110499,False,False,False,False,False,False,False,False,False,False,False,False
110500,False,False,False,False,False,False,False,False,False,False,False,False
110501,False,False,False,False,False,False,False,False,False,False,False,False
110502,False,False,False,False,False,False,False,False,False,False,False,False
110503,False,False,False,False,False,False,False,False,False,False,False,False
110504,False,False,False,False,False,False,False,False,False,False,False,False
110505,False,False,False,False,False,False,False,False,False,False,False,False
110506,False,False,False,False,False,False,False,False,False,False,False,False
110507,False,False,False,False,False,False,False,False,False,False,False,False
110508,False,False,False,False,False,False,False,False,False,False,False,False
110509,False,False,False,False,False,False,False,False,False,False,False,False
110510,False,False,False,False,False,False,False,False,False,False,False,False
110511,False,False,False,False,False,False,False,False,False,False,False,False
110512,False,False,False,False,False,False,False,False,False,False,False,False
110513,False,False,False,False,False,False,False,False,False,False,False,False
110514,False,False,False,False,False,False,False,False,False,False,False,False
110515,False,False,False,False,False,False,False,False,False,False,False,False
110516,False,False,False,False,False,False,False,False,False,False,False,False
110517,False,False,False,False,False,False,False,False,False,False,False,False
110518,False,False,False,False,False,False,False,False,False,False,False,False
110519,False,False,False,False,False,False,False,False,False,False,False,False
110520,False,False,False,False,False,False,False,False,False,False,False,False
110521,False,False,False,False,False,False,False,False,False,False,False,False
110522,False,False,False,False,False,False,False,False,False,False,False,False
110523,False,False,False,False,False,False,False,False,False,False,False,False
110524,False,False,False,False,False,False,False,False,False,False,False,False
110525,False,False,False,False,False,False,False,False,False,False,False,False
110526,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isna()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
110497,False,False,False,False,False,False,False,False,False,False,False,False
110498,False,False,False,False,False,False,False,False,False,False,False,False
110499,False,False,False,False,False,False,False,False,False,False,False,False
110500,False,False,False,False,False,False,False,False,False,False,False,False
110501,False,False,False,False,False,False,False,False,False,False,False,False
110502,False,False,False,False,False,False,False,False,False,False,False,False
110503,False,False,False,False,False,False,False,False,False,False,False,False
110504,False,False,False,False,False,False,False,False,False,False,False,False
110505,False,False,False,False,False,False,False,False,False,False,False,False
110506,False,False,False,False,False,False,False,False,False,False,False,False
110507,False,False,False,False,False,False,False,False,False,False,False,False
110508,False,False,False,False,False,False,False,False,False,False,False,False
110509,False,False,False,False,False,False,False,False,False,False,False,False
110510,False,False,False,False,False,False,False,False,False,False,False,False
110511,False,False,False,False,False,False,False,False,False,False,False,False
110512,False,False,False,False,False,False,False,False,False,False,False,False
110513,False,False,False,False,False,False,False,False,False,False,False,False
110514,False,False,False,False,False,False,False,False,False,False,False,False
110515,False,False,False,False,False,False,False,False,False,False,False,False
110516,False,False,False,False,False,False,False,False,False,False,False,False
110517,False,False,False,False,False,False,False,False,False,False,False,False
110518,False,False,False,False,False,False,False,False,False,False,False,False
110519,False,False,False,False,False,False,False,False,False,False,False,False
110520,False,False,False,False,False,False,False,False,False,False,False,False
110521,False,False,False,False,False,False,False,False,False,False,False,False
110522,False,False,False,False,False,False,False,False,False,False,False,False
110523,False,False,False,False,False,False,False,False,False,False,False,False
110524,False,False,False,False,False,False,False,False,False,False,False,False
110525,False,False,False,False,False,False,False,False,False,False,False,False
110526,False,False,False,False,False,False,False,False,False,False,False,False

Removing duplicate rows from the dataset

In [20]:
df.drop_duplicates(inplace=True)

Checking the number of rows after removal of duplicate rows

In [21]:
df.info() # The row number reduced from 110527 to 109892

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109892 entries, 0 to 110526
Data columns (total 12 columns):
Gender            109892 non-null object
ScheduledDay      109892 non-null object
AppointmentDay    109892 non-null object
Age               109892 non-null int64
Neighbourhood     109892 non-null object
Scholarship       109892 non-null int64
Hipertension      109892 non-null int64
Diabetes          109892 non-null int64
Alcoholism        109892 non-null int64
Handcap           109892 non-null int64
SMS_received      109892 non-null int64
No-show           109892 non-null object
dtypes: int64(7), object(5)
memory usage: 10.9+ MB

In [22]:
df.head(10)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

In [23]:
date_str1=df['ScheduledDay'][0]
date_str1

'2016-04-29T18:38:08Z'

Checking the best approach to convert the string format date to datetime object

In [24]:
from datetime import datetime
date_dt1 = datetime.strptime(date_str1,'%Y-%m-%dT%Xz')
date_dt1

datetime.datetime(2016, 4, 29, 18, 38, 8)

Converting entire ScheduledDay column from str object to datetime format

In [25]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'],format='%Y-%m-%dT%Xz')

In [26]:
df['AppointmentDay']= pd.to_datetime(df['AppointmentDay'],format='%Y-%m-%dT%Xz')

Check info to make sure the data type of the respective columns changed to 
datetime

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109892 entries, 0 to 110526
Data columns (total 12 columns):
Gender            109892 non-null object
ScheduledDay      109892 non-null datetime64[ns]
AppointmentDay    109892 non-null datetime64[ns]
Age               109892 non-null int64
Neighbourhood     109892 non-null object
Scholarship       109892 non-null int64
Hipertension      109892 non-null int64
Diabetes          109892 non-null int64
Alcoholism        109892 non-null int64
Handcap           109892 non-null int64
SMS_received      109892 non-null int64
No-show           109892 non-null object
dtypes: datetime64[ns](2), int64(7), object(3)
memory usage: 15.9+ MB

We now create new columns for year month and day

In [28]:
df['sYear'] = pd.DatetimeIndex(df['ScheduledDay']).year
df.head(3)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,sYear
0,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016
1,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016
2,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016

In [25]:
df.drop('sYear',axis=1)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,F,2016-04-27 08:36:51,2016-04-29,76,REPÚBLICA,0,1,0,0,0,0,No
6,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No
9,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No
10,F,2016-04-27 14:58:11,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No
11,M,2016-04-26 08:44:12,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,F,2016-04-28 11:33:51,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No
13,M,2016-04-28 14:52:07,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No
14,F,2016-04-28 10:06:24,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No
15,F,2016-04-26 08:47:27,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No
16,M,2016-04-28 08:51:47,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,F,2016-04-28 09:28:57,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes
18,F,2016-04-26 10:54:18,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No
19,F,2016-04-29 10:43:14,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No
20,F,2016-04-27 07:51:14,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,Yes
21,F,2016-04-27 10:50:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,Yes
22,M,2016-04-25 13:29:16,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,Yes
23,F,2016-04-28 10:27:05,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,No
24,F,2016-04-29 14:19:19,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,No
25,M,2016-04-26 15:04:17,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,No
26,F,2016-04-29 14:19:42,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,No
27,F,2016-04-27 10:51:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,No
28,M,2016-04-29 15:48:02,2016-04-29,51,SÃO PEDRO,0,0,0,0,0,0,No
29,F,2016-04-29 15:16:29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
110497,M,2016-06-01 09:46:33,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,0,No
110498,F,2016-06-08 10:21:14,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No
110499,F,2016-06-01 09:42:56,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,0,No
110500,F,2016-06-08 09:35:13,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No
110501,M,2016-06-01 10:19:12,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,0,No
110502,F,2016-06-08 10:50:42,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,0,No
110503,F,2016-06-01 13:00:36,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No
110504,F,2016-06-08 11:06:21,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,0,No
110505,F,2016-06-01 10:45:50,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,0,No
110506,M,2016-06-01 11:09:20,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,0,No
110507,F,2016-06-08 09:04:18,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,0,No
110508,F,2016-06-01 09:41:00,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,0,No
110509,M,2016-06-08 08:50:51,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,0,No
110510,F,2016-06-01 09:35:48,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No
110511,F,2016-06-08 08:50:20,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,0,No
110512,F,2016-06-08 08:20:01,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,0,No
110513,M,2016-06-08 07:52:55,2016-06-08,2,ANTÔNIO HONÓRIO,0,0,0,0,0,0,No
110514,F,2016-06-08 08:35:31,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,0,No
110515,M,2016-06-06 15:58:05,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,0,Yes
110516,F,2016-06-07 07:45:16,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,0,Yes
110517,F,2016-06-07 07:38:34,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,0,No
110518,F,2016-04-27 15:15:06,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,1,No
110519,F,2016-04-27 15:23:14,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,1,No
110520,F,2016-05-03 07:51:47,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,1,No
110521,F,2016-05-03 08:23:40,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,1,No
110522,F,2016-05-03 09:15:35,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,F,2016-05-03 07:27:33,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,F,2016-04-27 16:03:52,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,F,2016-04-27 15:09:23,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,F,2016-04-27 13:30:56,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No